*.json
*.csv
### /home/rekoil/.gitignore-boilerplates/Dart.gitignore

.DS_Store
packages
.project
pubspec.lock


### /home/rekoil/.gitignore-boilerplates/Global/SublimeText.gitignore

# SublimeText project files
*.sublime-workspace


src/*
src/github.com/digit-chalmers/hubbit-sniffer/logs/*
!./src/github.com/digit-chalmers/hubbit-sniffer/


__pycache__
